.picker-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 40px;
}

.date-picker {
  display: inline-block;
}

#room-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.main-app {
  margin-top: 10px;
}

#main-container {
  display: flex;
  flex-direction: column;
}

#tomorrow-container {
  margin-top: 100px;
  color: green;
  align-self: center;
  width: 80%;
}

#tomorrow {
  display: flex;
  flex-direction: column;

  border: 2px solid black;

  margin-top: 10px;
}

.titles {
  text-decoration: underline;
  font-weight: bold;
}
