/* GLOBAL STYLES */

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

.titles {
  text-decoration: underline;
  font-weight: bold;
  font-size: 16px;
}

.buttons {
  background-color: #939eb9;
  border: 1px solid black;
  outline: none;
  height: 22px;
}

.buttons:hover {
  opacity: 0.5;
}

.buttons:active {
  background-color: green;
}

.inputs {
  width: 100px;
  height: 20px;
  border: 1px solid black;
  font-size: 0.8em;
}

/* DATE SELECTION STYLES */

.main-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#add-delete {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 50px;
  margin-bottom: 10px;
  width: 100%;
}

#add-room-container h2 {
  width: 70%;
}

.selection-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 10px;
  align-items: center;
  /* align-self: flex-start; */
}

.date-picker {
  display: inline-block;
  margin-right: 35px;
}

#room-form {
  display: inline-block;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.form-container {
  display: flex;
  flex-direction: column;
}

#delete-display-container {
  width: 30%;
}

.delete-container {
  margin: 0 0 0 150px;
}

.delete-container h2 {
  margin-bottom: 10px;
}

#overide-container {
  margin-top: 50px;
  /* margin-left: 10%; */
  flex-direction: row;
  height: 30%;
  width: 50%;
}

#overide-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#overide-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
}

#overide-form select {
  margin-bottom: 4px;
}

#overide-buttons button {
  margin: 20px 20px 0 0;
}

.labels {
  margin-bottom: 5px;
  margin-top: 7px;
}

.tomorrow-overide {
  margin-left: 50px;
}

/* DISPLAYING TOMORROW'S CHANGES STYLES */

#tomorrow-container {
  margin-top: 100px;
  align-self: left;
  width: 80%;
}

#tomorrow {
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  margin-top: 10px;
  color: green;
}

#tomorrow p {
  padding-left: 10px;
}

/* DISPLAYING NEXT SIX DAYS */

#six-days-content {
  height: 88%;
  padding-left: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.six-day-display {
  width: 28%;
  height: 250px;
  border: 2px solid #939eb9;
  display: flex;
  flex-direction: column;
  margin: 20px 0 20px 0;
  line-height: 25px;
  justify-content: flex-start;
}

.six-day-display p {
  font-size: 1.1em;
  margin: 0 0 45px 10px;
}

.six-day-display h3 {
  font-size: 1.2em;
  margin: 10px 0 45px 10px;
}

.six-day-display p span {
  font-weight: bold;
  text-decoration: underline;
}
/* HEADER STYLES */

.header {
  /* display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around; */
  /* position: fixed; */
  margin-bottom: 30px;
  top: 0;
  background-color: #939eb9;
  width: 100%;
  height: 90px;
  top: 0;
  text-align: center;
}

.page-title {
  margin-top: 15px;
  font-size: 2.5em;
}

#links-container {
  display: flex;
  flex-direction: row;
  position: absolute;
  right: 20px;
  top: 15px;
}

.link-box {
  display: flex;
  border: 2px solid black;
  height: 40px;
  width: 100px;
  background-color: white;
  border-radius: 5px;
  align-content: center;
  justify-content: center;
  margin: 10px;
}

.links {
  text-decoration: none;
  font-weight: bold;
  color: black;
  background-color: white;
  align-self: center;
}

/* DISPLAY ALL ROOMS STATUS */

#status-content {
  padding-left: 20px;
}

#all-rooms-display {
  margin: 0 0 20px 20px;
  /* line-height: 20px; */
}

#all-rooms-display p span {
  font-weight: bold;
}




